<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="cl1"><h2>eRegistrar</h2></div>
	<div>
		<div class="left"><a href="index.html">Home</a></div>
		<div class="left right">
			<p>eRegistrar System developed by Andualem Alemu Zemedkun.
				This page is developed for an assignment Lab7. Thank you!!
			 </p>
		 </div>
	</div>
	<div class="footer">This is the footer for the eRegistrar page</div>
</body>
</html>